################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProjectCNDN_Revamp/PROJECTCNDN/.vs/PROJECTCNDN/FileContentIndex/328fb7f9-985c-40b5-991d-05a38dd3fd11.vsidx
